/*
*  This section makes the header and footer stay on the top and bottom of the page.
*/
html, body {
    height: 100%;
    margin: 0;
    background-color: #a0a0a0;
    background-size: 100%;
    background-image: url("images/bck.jpg");
}

.cont {

    min-height: 100%;
    margin: 0 auto -50px;
}

.navbar {
    overflow: hidden;
    background-color: #9292af;
    top: 0;
    width: 100%;
    
  }

 .bodyPage {
     padding-left: 25px;
     overflow: auto;
 }
 .push{
    height: 50px;
}
 .footer {
     width: 100%;
     height: 50px;
     text-align: center;
     color: #e6e6e6;
     background-color: #9292af;
     /*background-color: #0065a8; */
     font-size: 15px;
     font-family: Verdana, 'Times New Roman', Times, serif;
 }

 .clink {
     padding-left: 40px;
     padding-right: 40px;
     font-size: 17px;

     color: #e6e6e6;
 }
 .clink:hover {
    background-color: #9e6315;
    
 }

.navbar a {
    float: left;
    display: block;
    color: #e6e6e6;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, 'Times New Roman', Times, serif;
}

.active1 {
    background-color: #42515c;
}
.navbar a:hover{
    background-color: #9e6315;
    
}

/*
*  This section has homepage specific styling.
*/
.introText {
    float:left;
    font-size: 20px;
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
} 
#myName {
    font-size: 60px;
}
#myTag {
    font-size: 14px;
}

#actualPic {
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    bottom: 65px;
    max-height: 509px;
    border-style: solid;
    color: #9292af;
    border-width: 2px;
     
}


/*
*  This section styles weather specific elements on the homepage.
*/
.wx {
    float:right;
    width: 270px;
    color: #070707;
    
    font-size: 14px;
    font-family: Verdana, 'Times New Roman', Times, serif;
}

.wx span:hover {
    background-color: #b5bfc7;
}

#lowTemp {
    color: #5f80b3;
}

#highTemp {
    color: #b15b5b;
}

#wind {
    color: #4e9e60;
}
#sunrise {
    color: #8f7a3f;
}

#sunset {
    color: #7e6596;
}

/*
*  This section has image credit specific styling.
*/
.credit {
    position: absolute;
    bottom: 65px;
    right: 0;
    color: #c2ab8e;
    font-size: 9px;
    font-family: Verdana, 'Times New Roman', Times, serif;
}

/*
*  This section has resume specific styling.
*/
.resumeText {
    color: #e6e6e6;
    text-decoration: underline;
    font-size: 18px;
    font-family: Verdana, 'Times New Roman', Times, serif;
}
.resumeText a{
    color: #727288;
    text-decoration: none;
}

/*
*  This section has photo page specific styling.
*/
.gridPhoto {
	width: 30%;
	float: left;
	margin: 1.66%;
}

#photoText	{
	font-family: Verdana, 'Times New Roman', Times, serif;
	margin-left: 1.66%;
    font-size: 23px;
    color: #727288;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #F1F1F1;
	width: 38%;
	padding-bottom: 20px;
}
/*
*  This section has blog specific styling.
*/
/*.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
*/

/*
*  This section resizes the menu for smaller screen sizes (mobile).
*/
@media screen and (max-width: 830px) {
    .navbar a {
       float: none;
       display: block; 
    }

    .footer a{
        float:none;
        display: block;
    }
    .footer {
        height: 125px;
    }
    .credit {
        
        bottom: -3px;
        right: 0;
        color: #5f5446;
    }
    #myName {
        font-size: 30px;
    }
    #actualPic {
        width: 200px;
        bottom: 100px;
    }
    .wx {
        width: 270px;
        bottom: 1px;
        font-size: 12px;
        font-family: Verdana, 'Times New Roman', Times, serif;
}

@media screen and (max-height: 830px) {
    #actualPic {
        width: 200px;
        bottom: 100px;
    }
}