/*
*  This section makes the header and footer stay on the top and bottom of the page.
*/
html, body {
    height: 100%;
    margin: 0;
    background-color: #a0a0a0;
    background-image: url("images/bck.jpg");
    background-size: 100%;
}

.cont {
    min-height: 100%;
    margin: 0 auto -50px;
}

.navbr {
    overflow: hidden;
    background-color: #9292af;
    top: 0;
    width: 100%;
    
  }

 .bodyPage {
     padding-left: 25px;
     overflow: auto;
     color: #727288;
     font-size: 15px;
     font-family: Verdana, 'Times New Roman', Times, serif;
 }
 .push{
    height: 50px;
}
 .footer {
     width: 100%;
     height: 50px;
     text-align: center;
     color: #e6e6e6;
     background-color: #9292af;
     font-size: 15px;
     font-family: Verdana, 'Times New Roman', Times, serif;
 }
 .footer2 { 
    width: 100%;
    height: 60px;
    text-align: center;
    color: #e6e6e6;
    background-color: #9292af;
    font-size: 15px;
    font-family: Verdana, 'Times New Roman', Times, serif;
} 

 .clink {
     padding-left: 40px;
     padding-right: 40px;
     font-size: 17px;

     color: #e6e6e6;
 }
 .clink:hover {
    background-color: #9e6315;
    color: #e6e6e6;
    
 }

.navbr a {
    float: left;
    display: block;
    color: #e6e6e6;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, 'Times New Roman', Times, serif;
}

.active1 {
    background-color: #42515c;
}
.navbr a:hover{
    background-color: #a58807; 
    color: #e6e6e6;
}

/*
*  This section has homepage specific styling.
*/
.introText {
    float:left;
    font-size: 20px;
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
    border-bottom: 2px solid #727288;
    width: 100%;
    padding-bottom: 5px;
} 
#myName {
    font-size: 60px;
}
#myTag {
    font-size: 14px;
}

#photoCar {
    padding: 10px;

}
#actualPic {
    width: auto;
    height: auto;
    max-height: 509px;
    padding-top: 20px;
     
}

/*
*  This section styles weather specific elements on the homepage.
*/
.wx {
    float:right;
    width: 270px;
    color: #070707;
    font-size: 14px;
    font-family: Verdana, 'Times New Roman', Times, serif;
}

.wx span:hover {
    background-color: #b5bfc7;
}

#lowTemp {
    color: #5f80b3;
}

#highTemp {
    color: #b15b5b;
}

#wind {
    color: #4e9e60;
}
#sunrise {
    color: #8f7a3f;
}

#sunset {
    color: #7e6596;
}

#cs290 {
    float:left;
    width: 60%;
    font-size: 14px;
}

/*
*  This section has background image credit specific styling.
*/
.credit {
    bottom: 65px;
    color: #c2ab8e;
    font-size: 9px;
    font-family: Verdana, 'Times New Roman', Times, serif;
}

/*
*  This section has resume specific styling.
*/
.resumeText {
    color: #e6e6e6;
    text-decoration: underline;
    font-size: 18px;
    font-family: Verdana, 'Times New Roman', Times, serif;
}
.resumeText a{
    color: #727288;
    text-decoration: none;
}

#resFrame {
    width: 850px;
    height: 550px;
}

/*
*  Panorama scrolling picture section
*  Source Cited for assistence in creating the carousel of panoramas: 
*  https://redstapler.co/minimalist-css-image-carousel-tutorial/
*/
.panoWrap {
    display: flex;
    align-items: center;
    justify-content: left;  
}
.panoSlide {
    width: 2500px;
    height: 200px;
    position: relative;
    background: #9292af;
    /*box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);*/
    display: flex;
    overflow: hidden;
}
.pano {
    height: 200px;
    display: flex;
    align-items: center;
    animation: slideshow 180s linear infinite;
}
.pano img{
    height: 200px;

}
@keyframes slideshow{
    0% {transform: translateX(0);}
    100% {transform: translateX(-100%);}
  }

.panoSlide::before {
    top: 0;
    left: 0;
}

.panoSlide::after {
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

/*
*  This section has photo page specific styling.
*/
.gridPhoto {
	width: 30%;
	float: left;
	margin: 1.66%;
}

.panoPhoto {
	width: 70%;
	float: left;
	margin: 1.66%;
}
#photoText	{
	font-family: Verdana, 'Times New Roman', Times, serif;
	margin-left: 1.66%;
    font-size: 23px;
    color: #727288;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #F1F1F1;
	width: 38%;
	padding-bottom: 20px;
}

/*
*  This section has Hobbies specifc styling.
*/

#hobDes {
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #727288;
    padding-left: 25px;
}
#entry {
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #727288;
}
#rec {
    height:80px;
    width:180px;
    overflow-y: scroll;
    border:4px solid #4343ff;
    padding:2%;
    background-color: #eeeeee;
    
}
/*
*  This section has FoodFlash specific styling.
*/
#ffFrame {
    width: 1200px;
    height: 1190px;
}

.ffText {
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
    font-size: 16px;

}
/*
*  This section has blog specific styling.
*/
/*


/* Create three equal columns that floats next to each other */
#blogTitle {
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
    font-size: 24px;
    text-align: center;
}
#blogTagline {
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #727288;
}
.postTitle {
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
    font-size: 16px;
}
.postText {
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
    font-size: 14px;
}
.column {
    float: left;
    width: 30%;
    padding: 20px;
    margin: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box; 
    /*height: 300px; /* Should be removed. Only for demonstration */ 
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    margin: 30px;
    display: table;
    clear: both;
  }
  .blogPhoto {
      max-width: 100%;
      max-height: 100%;
  }
  /*
.center {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.label {
  font-family: 'Quantico';
  text-align: center;
}
.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.blog-card {
  height: 230px;
  width: 370px;
  margin-left: 15px;
  margin-right: 15px;
}  
  .blog-card__thumbnail {
    width: 280px;
    height: 180px;
    object-fit: cover;
  }
  
  .blog-card__details {
    height: 250px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 7px rgba(0,0,0,0.5);
  }
  
  .blog-card__title {
    font-family: 'Quantico';
    font-size: 16px;
    text-transform: uppercase;
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
  }
  
  .blog-card__description {
    font-weight: 300;
    font-size: 12px;
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
  }
  
  .blog-card__action {
    background: transparent;
    border: none;
    font-family: 'Quantico';
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    font-family: Verdana, 'Times New Roman', Times, serif;
    color: #727288;
    cursor: pointer;
  }

#header2 {
    height: 95px;
    background: url("images/IMG_3420a.png") center center / cover no-repeat;
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #727288;
    text-align: center;
    border-bottom: 2px solid #727288;
    border-top: 2px solid #727288;
    width: 100%;
    
}
 */ 

/*
*  This section resizes the menu for smaller screen sizes (mobile).
*/
@media screen and (max-width: 830px) {
    .navbr a {
       float: none;
       display: block; 
    }

    .footer a{
        float:none;
        display: block;
    }
    .footer {
        height: 125px;
    }

    .footer2 {
        height: 125px;
    }
    #myName {
        font-size: 30px;
    }
    #actualPic {
        width: 270px;
        bottom: 100px;
    }
    .wx {
        float: left;
        width: 276px;
        bottom: 1px;
        font-size: 12px;
        font-family: Verdana, 'Times New Roman', Times, serif;
    }
    #resFrame{
        width: 300px;
        height: 500px;
    }
    #ffFrame {
        width: 400px;
        height: 500px;
    }

    .column {
        width: 100%;
      }
    /*
    .card-wrapper {
        display: block;
        width: 100%;
        flex-direction: column;
        
      }
      .blog-card {
        width: 100%;
        padding: 0px 0;
    }

    .blog-card {
        height: 330px;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
      }
          
        .blog-card__thumbnail {
          width: 100%;
          height: 180px;
          object-fit: fill;
        }
        
        .blog-card__details {  
          display: block; 
          flex-direction: column;
          padding: 20px;
          width: 80%;
          
        }
      */
}